@import "./reset.css";

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

:root {
  --artist-text-color: #25cba3;
  --song-text-color: #fff;
  --player-background-color: #1b1d20;
  --font-family: "Inter", sans-serif;
}

html,
body {
  font-size: 62.5%;
}

html {
  font-family: var(--font-family);
}
